/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */


.card {
  background-color: #F8F7F2;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 50px 50px 60px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  grid-template-rows: 30px 200px repeat(3 , 1fr);
}

.heading{
  grid-column: 1/3;
  margin-top: 4px;
  font-family: 'Limelight', cursive;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.main-image {
  grid-column: 1/3;
  grid-row: 2;
  width: 100%;
  display: inline-block;
}

.description {
  background-color: #FFB4ED;
  border-radius: 5px;
}

.temperature {
  background-color: #F0F424;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.rainfall {
  background-color: #002E50;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wind {
  background-color: #4A5328;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sunlight {
  background-color: #FC5101;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.uv-index {
  background-color: #7100E2;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.name {
  margin-top: 4px;
  margin-left: 4px;
  font-family: 'Roboto', sans-serif;
}

.name-special {
  margin-top: 14px;
  margin-left: 10px;
  font-family: 'Limelight', cursive;
  font-size: 25px;
}

.number {
  margin: 4px;
  margin-top: 10px;
  font-family: 'Limelight', cursive;
  font-size: 28px;
}

.name-wrapper {
 display: flex; 
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 100%;
 height: 100%;
}

/* Sources: 
CSS Grid Layout Crash Course: https://youtu.be/jV8B24rSN5o 
W3 School: https://www.w3schools.com/css/
CSS Tricks */